@charset "utf-8";
/*全体*/
.wrapper{
  margin: 0 auto;
  color: #006400;
}
.header,.calc{
  text-align: center;
}

.header{
  color: red;
  font-size: 4px;
}
input{
  box-sizing: border-box;
  width: 70%;
  height: 3.5rem;
  font-size: 1.6rem;
  text-align: right;
  padding: 0 0.75rem;
}
button{
  font-size: 18px;
  width: 25%;
  height: 3.5rem;
  color: #000080;
  vertical-align: middle;
  border-color: #fff;
}
button:hover{
  background-color: #00ff00;
}
